<div id="welcome-controller">

<div class="header">
	<h1>Welcome to Ernd It!</h1>

	<% if logged_in? %>

		<%= "Welcome #{current_user.name}!" %>
		<%= link_to 'Log Out', logout_path, method: :delete %>

	<% else %>

		<div class="login">

			<button><%= link_to "Login", login_path %></button>
		
			<button><%= link_to "Signup", signup_path %></button> 
	  	</div>

	<% end %>

</div>

	<div class="background">
		<%= image_tag "success-is-never-deserved-always-earned.jpg" %>

	</div>
</div> <!-- end welcome-controller -->

