<div id="log-in-container">
	<div class="cover-container">
		<h1 class="h1">Login now to Enter!</h1>

			<div class="login">
				<%= form_for :login do |f| %>


					<div>
						<%= f.label :email %>
						<%= f.text_field :email %>
					</div>

					<div>
						<%= f.label :password %>
						<%= f.password_field :password %>
					</div>

					<div class="btn btn-lg btn-default">
						<button><%= link_to 'Log In' %></button>
					
						<button><%= link_to "Signup", signup_path %></button> 
						<button><%= link_to "Go Back", home_path %></button>

					</div>

				<% end %> 
			</div>
	</div>

</div>