<h1>Edit your Post!</h1>

<%= "Earned status: #{@post.earned}"%>

<%= form_for :post do |f| %>


	<div>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>

	<div>
		<%= f.label :image_url %>
		<%= f.file_field :image_url %>
	</div>

	<%= f.submit "Submit Changes?" %>
	
	<%= link_to "Destroy this Post?", post_path, method: :delete, data: {confirm: "Are you sure you wish to delete this post?"} %>

<% end %>

<%= link_to "Click to Return Home!", posts_path %>