<% if logged_in? %>

	<%= "Welcome #{current_user.name}" %>
	<%= link_to 'Log Out', logout_path, method: :delete %>

<% end %>

<h1>This will be the main post page</h1>

<%= link_to "Create new Post!", new_post_path %>

<ul>
	<% @posts.each do |post| %>
		<%= form_for :post do |f| %>
			<li>
				<strong> <%= post.user.name %> </strong> <br>
				<strong> <%= image_tag post.image_url, :class => "earned-#{post.earned}" %> </strong> <br>
				<strong> <%= post.description %> </strong> <br>
				<%= link_to "Add Comment", post_path(post) %>
				
				<% if can_edit(post) %>
					<%= link_to "Edit Post?", edit_post_path(post) %> 
					<%= f.submit "ERND IT" %>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>