<div id="main-post-container">
		
	<div class="header">

		<% if logged_in? %>
			<div class="welcome-user">
				<%= "Welcome #{current_user.name}!" %>
			</div>
			
			<div class="user-logout">
				<%= link_to 'Log Out', logout_path, method: :delete %>
			</div>

		<% end %>
	

	
		<div class="h1">
			<h1>WHAT WILL YOU EARN TODAY?</h1>
	    </div> 
	
	</div> <!-- end header -->
   
		

		<div class="body">
			<div class="new-post">
				<%= link_to "Create new Post!", new_post_path %>
			</div>
			
			<ul class="full-post">
				<% @posts.each do |post| %>
					
					<li>
						<div class="username">
							<%= post.user.name %><br>
						</div>

						<div class="post">
							
							<div class="post-image">
								<%= image_tag post.image_url %>
								<div class="<%= "earned-#{post.earned}"%>"><span>ERND IT!</span></div>
							</div>
						
						
							<h3> <%= post.description %> <h3> <br>
							
							
						
							<% if can_edit(post) %>
								<button><%= link_to "Edit Post", edit_post_path(post) %> </button>
								<button><%= link_to "ERND IT", earn_post_path(post) %></button>
							<% end %>

							<button><%= link_to "Add Comment", post_path(post) %></button>

						</div>
						
					</li>

				<% end %>
			</ul>
		</div> <!-- end body -->
</div> <!-- end main-post-container -->
		
	

