<h1>Add a Post Here!</h1>

<%= form_for @post do |f| %>

	<div class="form-group">
		<p>What is your goal?</p><% f.label :description %>
		<%= f.text_field :description %>
	</div>


	<div class="form-group">
		<p>What would you like to earn?</p><% f.label :image_url %>
		<%= f.file_field :image_url %>
	</div>

	<%= f.submit "Add Post" %>

	<%= link_to "Back to Home Page", posts_path %>

<% end %>